<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-video-to-whatsapp" version="1.0.3">
    <name>VideoToWhatsapp</name>
    <description>It downloads video from url and share to whatsapp</description>
    <repo>https://github.com/aakashrajni/cordova-plugin-video-to-whatsapp</repo>
    <author>Aakash</author>
    <license>Apache 2.0</license>
    <keywords>cordova,Intent,video,whatsapp,tiktok,url</keywords>
    <js-module src="www/js/VideoToWhatsapp.js" name="VideoToWhatsapp">
        <clobbers target="cordova.plugin.video.to.whatsapp" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoToWhatsapp">
                <param name="android-package" value="com.aakash.cordova.plugin.video.to.whatsapp.VideoToWhatsapp"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/aakash/cordova/plugin/video/to/whatsapp/VideoToWhatsapp.java" target-dir="src/com/aakash/cordova/plugin/video/to/whatsapp"/>
    </platform>
</plugin>