<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-media-to-whatsapp" version="1.1.1">
    <name>MediaToWhatsapp</name>
    <description>It gets media from device storage location and share to whatsapp</description>
    <repo>https://github.com/aakashrajni/cordova-plugin-media-to-whatsapp</repo>
    <author>AakashRajni</author>
    <license>Apache 2.0</license>
    <keywords>cordova,Intent,media,image,video,whatsapp,tiktok,url</keywords>
    <js-module src="www/js/MediaToWhatsapp.js" name="MediaToWhatsapp">
        <clobbers target="cordova.plugin.media.to.whatsapp" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="MediaToWhatsapp">
                <param name="android-package" value="com.aakash.cordova.plugin.media.to.whatsapp.MediaToWhatsapp"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/aakash/cordova/plugin/media/to/whatsapp/MediaToWhatsapp.java" target-dir="src/com/aakash/cordova/plugin/media/to/whatsapp"/>
    </platform>
</plugin>